* {
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: grey;
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr repeat(3, min-content);
    grid-template-areas: 
        "clock    clock    clock    clock"
        "calendar calendar calendar weather"
        "calendar calendar calendar alarm"
        "calendar calendar calendar timer"
        "buttons  buttons  buttons  buttons"
    ;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

.calendar {
    grid-area: calendar;
    /* background: repeating-linear-gradient( 0deg, #82869d, #000000 2px, #000000 2px, #000000 calc( 100%/24 )); */
}

.clock {
    grid-area: clock;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.weather {
    grid-area: weather;
}

.alarm {
    grid-area: alarm;
}

.timer {
    grid-area: timer;
}

.buttons {
    grid-area: buttons;
}

.widget-header {
    margin-top: 0;
    text-align: center;
}

.grid-item{
    background-color: #181A1B;
    border-radius: 1rem;
    padding: 1rem;
}