* {
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: #ffffff90;
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr repeat(3, min-content);
    grid-template-areas: 
        "clock    clock    clock    clock"
        "calendar calendar calendar weather"
        "calendar calendar calendar alarm"
        "calendar calendar calendar timer"
        "buttons  buttons  buttons  buttons"
    ;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

.calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: column;
}

.calendar .calender-grid {
    display: grid;
    grid-template-columns: min-content repeat(7, 1fr);
    grid-template-rows: repeat(96, minmax(.5rem, 1fr));
    overflow-y: auto;
    flex-grow: 1;
    background:
        repeating-linear-gradient( 180deg, #ffffff20, transparent 2px, transparent 2px, transparent calc( 100%/24 )),
        repeating-linear-gradient( 90deg, #ffffff20, transparent 2px, transparent 2px, transparent calc( 100%/7 ));
    background-size: calc(100% - 3.5rem);
    background-position: right;
    background-attachment:local;
}

.calendar .calendar-header-row {
    display: grid;
    grid-template-columns: 3.5rem repeat(7, 1fr);
}

.calendar .calendar-header-row .calendar-header {
    grid-row: 1 / span 4;
    text-align: center;
}

.calendar .calender-grid .calendar-event {
    background-color: #027CB7;
    color: #ffffff;
    /* padding: .5rem; */
    border-radius: .5rem;
    cursor: pointer;
}

.calendar .calender-grid .calendar-event span {
    display: inline-block;
    background-color: #027CB7;
    padding: .5rem;
    border-radius: .5rem;
}

.calendar .calender-grid .calendar-time {
    grid-column: 1;
    grid-row: auto / span 4;
    min-width: 3.5rem;
}

.clock {
    grid-area: clock;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.timer svg {
    fill: #027CB7;
    cursor: pointer;
    width: 3rem;
    height: auto;
   
}

/* .timer .play {
    width: 3rem;
    height: 3rem;
}

.timer .pause {
    width: calc(3rem - 7px);
    height: calc(3rem - 7px);
} */

.timer .buttons {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: .5rem;
}

.timer .timerNumbers {
    font-size: 3rem;
}

.timer .timerNumbers input {
    color: #ffffff90;
    font-size: inherit;
    text-align: center;
    width: 4rem;
    background-color: transparent;
    border: none;
}

.timer .timerNumbers input::-webkit-outer-spin-button,
.timer .timerNumbers input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.weather {
    grid-area: weather;
}

.alarm {
    grid-area: alarm;
}

.timer {
    grid-area: timer;
}

.buttons {
    grid-area: buttons;
}

.widget-header {
    margin: 0;
    text-align: center;
}

.grid-item{
    background-color: #181A1B;
    border-radius: 1rem;
    padding: 1rem;
}

::-webkit-scrollbar {
    width: .5rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background: #ffffff20;
  }

::-webkit-scrollbar-thumb {
    background: #888;
}

.popup-wrapper {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    backdrop-filter: blur(1px);
    background-color: #00000090;
}

.popup {
    position: absolute;
    top: 10%;
    left: calc(50% - 15vw);
    margin: auto;
    width: 30vw;
    padding: 2rem;
    border-radius: .5rem;
    background-color: #181A1B;
    z-index: 100;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup h1 {
    margin-top: 0;
    text-align: center;
}

.popup-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.popup-grid h2, .popup p {
    margin: 0;
}

.popup-grid h2 {
    text-align: end;
}

.popup-grid input, .popup-grid textarea {
    background-color: transparent;
    border: solid 1px #ffffff20;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
    font-size: 1rem;
    resize: vertical;
}

.popup-grid input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
}

button {
    background-color: #027CB7;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

.radio-buttons span {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: .25rem;
    gap: .25rem;
}

.week-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.week-header h2{
    margin: 0;
}

.weather-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.weather-row .weather-time {
    min-width: 4rem;
    font-weight: bold;
    color: white;
}